* {
    margin: 0;
    padding: 0;
}


.section1 {
    background-image: url(pngtree-smart-robot-arm-advertising-background-backgroundrobotblue-backgrounddark-backgroundlightlight-image_68405.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;


}

.nav {
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;
    place-items: center;
    position: relative;
    top: 20px;
    margin-left: 10vw;
    height: 12vh;
    width: 80vw;
    background-color: transparent;
    /* color:white */
    border-radius: 8px;

}

.navitems {
    width: 90%;
    justify-content: space-around;
    font-family: "Baloo 2";
    display: flex;
    gap: 1%;
    color: white;
}

.items {
    font-size: 80%;
    transition: all 0.1s ease-in-out;
}

.items:hover {
    border-radius: 2px;
    color: white;
    background-color: #b78d5a;
    font-size: 95%;
    text-decoration: underline;
}

#signup {
    width: 6vw;
    height: 2vw;
    background-color: lightblue;
}

#signup:hover {
    background-color: rgb(63, 60, 60);
    color: white;
}

.heading {
    width: 40%;
    position: relative;
    color: white;
    font-size: 2vw;
    top: 30%;
    left: 8%;
    transition: left 1s ease-in-out 0.1s;
}

.subheading {
    position: relative;
    top: 33%;
    left: 8%;
    transition: left 1s ease-in-out 0.1s;
    color: white;
    font-size: 2vw;
    width: 40%;
}

.homebuttons {
    top: 45%;
    left: 10%;
    position: relative;
    display: flex;
    gap: 1vw;
}

#visitshop {
    background-color: white;
    color: #b78d5a;
}

.section2 {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* height: 100vh; */
    width: 100vw;


}

.heading2 {
    text-align: center;

    padding: 4px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif
}

.gridcontainer {
    position: relative;
    justify-items: center;
    display: grid;
    row-gap: 30px;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /* height: 67vh; */
    width: 45vw;
    /* background-color: blak;c */
}

.cards {
    background-color: lightblue;
    font-family: "Baloo 2", sans-serif;
    color: rgba(0, 0, 0, 0.596);
    text-align: center;
    object-fit: contain;
    /* height: 100%; */
    width: 100%;
}

.cards:hover {
    transform: scale(1.06);

}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: lightblue;

}

.subheading2 {
    text-align: center;

    padding: 4px;
    font-size: 13px;
    font-family: "Baloo 2", sans-serif;
    color: #cea15dd5;

}

.news {
    padding-top: 3vh;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 12px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 60vw;


}

.news1:hover {
    width: 110%;
    transition: width 0.5s ease-in-out;
}

.news2:hover {
    width: 110%;
}

.news3:hover {
    width: 110%;
}

.imgnews {
    object-fit: cover;

    border-radius: 20px;
    height: 40%;
    width: 100%;
    border: 2px;

}

.imgnews img {
    border-radius: 20px;

}

.newstext {

    position: relative;
    top: 3%;
    font-size: 25px;
    color: black;
    position: relative;
    height: 60%;
    width: 100%;
}

.newstext span {
    font-family: "Baloo 2";
    font-size: 15px;
    color: grey;
}


button {
    font: 1px;
    background-color: #b78d5a;
    font-family: "Baloo 2";
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: none;
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section4 {


    width: 100vw;
    background-color: #2b1a13;
    display: flex;
    align-items: flex-start;
    background-color: lightblue;
    gap: 1vh;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2px;

}

.shiva {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60vh;
    width: 20vw;

}

@media screen and (max-width: 1000px) {
    #signup {
        font-size: 60%;
        width: 6vw;
        height: 2vw;
    }

    .shiva {
        height: 35vh;
        width: 400px;
        /* border: 2px solid black; */
        /* overflow-y: scroll; */

    }

    .gridcontainer {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    .news {
        flex-wrap: wrap;
        gap: 0px;
    }

    .imgnews {
        height: 70%;
    }

    .newstext {
        font-size: 20px;
    }

    .newstext span {
        font-size: 10px;
    }

    .news1 {
        height: 33%;
        width: 309px;
        background-color: white;
        /* overflow: scroll; */

    }

    .news2 {
        height: 33%;
        width: 309px;
        background-color: white;
        /* overflow: scroll; */

    }

    .news3 {
        height: 34%;
        width: 309px;
        background-color: white;
        /* overflow: scroll; */

    }
}

.hri {
    position: relative;
    margin-top: 20px;
    width: 90vw;
    height: 0.5px;
    background-color: rgba(253, 253, 253, 0.288);
}

h2 {
    font-family: "Baloo 2", sans-serif;
    color: white;
    padding: 2vw;
    font-size: 2em;
}

ul {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

li {
    font-family: "Baloo 2", sans-serif;
    
    list-style-type: none;
    padding-left: 1.2vw;
    font-size: 1em;
    color: black;
}

.none {
    visibility: hidden;
}

#adjustment {
    position: relative;
    top: 8px;
}

.footer {
    font-size: 18px;
    color: black;
    font-family: "Baloo 2", sans-serif;
    text-decoration: solid;
}

.footer span {
    color: black;
}
.section5{
    display: grid;
    place-items: center;
    width: 70vw;
}
.wrapper{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }
  .wrapper h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #4070f4;
  }
  .wrapper form{
    margin-top: 30px;
  }
  .wrapper form .input-box{
    height: 52px;
    margin: 18px 0;
  }
  form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  .input-box input:focus,
  .input-box input:valid{
    border-color: #4070f4;
  }
  form .policy{
    display: flex;
    align-items: center;
  }
  form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
  .input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
  }
  .input-box.button input:hover{
    background: #0e4bf1;
  }
  form .text h3{
   color: #333;
   width: 100%;
   text-align: center;
  }
  form .text h3 a{
    color: #4070f4;
    text-decoration: none;
  }
  form .text h3 a:hover{
    text-decoration: underline;
  }